[include]
	path = .gitremotes
	path = .borgconfig
[submodule "auto-compile"]
	path = lib/auto-compile
	url = https://github.com/emacscollective/auto-compile
[submodule "borg"]
	path = lib/borg
	url = https://github.com/emacscollective/borg
[submodule "closql"]
	path = lib/closql
	url = https://github.com/magit/closql.git
[submodule "compat"]
	path = lib/compat
	url = https://github.com/emacs-compat/compat
[submodule "dash"]
	path = lib/dash
	url = https://github.com/magnars/dash.el
[submodule "diff-hl"]
	path = lib/diff-hl
	url = https://github.com/dgutov/diff-hl
[submodule "diminish"]
	path = lib/diminish
	url = https://github.com/myrjola/diminish.el
[submodule "emacsql"]
	path = lib/emacsql
	url = https://github.com/magit/emacsql
[submodule "epkg"]
	path = lib/epkg
	url = https://github.com/emacscollective/epkg
[submodule "exec-path-from-shell"]
	path = lib/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell
[submodule "gcmh"]
	path = lib/gcmh
	url = https://gitlab.com/koral/gcmh
[submodule "git-modes"]
	path = lib/git-modes
	url = https://github.com/magit/git-modes
[submodule "llama"]
	path = lib/llama
	url = https://github.com/tarsius/llama
[submodule "magit"]
	path = lib/magit
	url = https://github.com/magit/magit
[submodule "mixed-pitch"]
	path = lib/mixed-pitch
	url = https://gitlab.com/jabranham/mixed-pitch
[submodule "no-littering"]
	path = lib/no-littering
	url = https://github.com/emacscollective/no-littering
[submodule "page-break-lines"]
	path = lib/page-break-lines
	url = https://github.com/purcell/page-break-lines
[submodule "transient"]
	path = lib/transient
	url = https://github.com/magit/transient
[submodule "treesit-auto"]
	path = lib/treesit-auto
	url = https://github.com/renzmann/treesit-auto
[submodule "vundo"]
	path = lib/vundo
	url = https://github.com/casouri/vundo
[submodule "with-editor"]
	path = lib/with-editor
	url = https://github.com/magit/with-editor
